@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;600;700&display=swap');

:root {
	--text: #e0def4;
	--primary: #2a273f;
	--secondary: #6e6a86;
	--accent: #3e8fb0;
}

html, body {
	padding: 0;
	margin: 0;
	background-color: var(--primary);
	user-select: none;
}

.center {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

p {
	color: var(--text);
	font-family: 'Radio Canada';
	margin: 0;
}

.cat {
	font-weight: 700;
	font-size: 5em;
}

.lettre{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 6em;
}

button {
	font-family: 'Radio Canada';
	font-weight: 400;
	font-size: 3em;
	background-color: var(--secondary);
	border: none;
	border-radius: 100px;
	padding: 0.3em 1em;
	color: var(--text);
	width: fit-content;
}

button:hover {
	cursor: pointer;
	background-color: var(--accent);
}

.visible {
	color: var(--text);
}

.hidden {
	color: var(--primary);
}
